<%- include("header", {}) %>
<h2>CARRITO:</h2>

<ul>
  <% user.carrito.forEach(producto => { %>
  <li><%= producto %></li>
  <% }); %>
</ul>

<form action="/eliminarCarrito" method="POST">
  <button type="submit">Eliminar Carrito</button>
</form>

<%- include("footer", {}) %>
