<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/restricted">Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/carrito">Carrito</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chat">Chat</a>
            </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registro</a>
          </li>
          <% } %>
        </ul>
        <% if (user) { %>
          <div class="welcome-message">Welcome <%= user.username %>!</div>
        <% } %>


      </div>
    </nav>
  </nav>
  <% if (req.app.locals.cookies === false || (user && (!user.cookies || (user.cookies !== true)))) { %>
    <div class="cookie-popup fixed-bottom">
      <div class="cookie-content p-3">
        <p>Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al continuar navegando, aceptas el uso de cookies.</p>
        <div class="cookie-buttons d-flex justify-content-center mt-3">
          <form action="/cookiesAceptar" method="POST">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <input type="hidden" name="cookie" value="true">
          </form>
          <form action="/cookiesRechazar" method="POST">
            <button type="submit" class="btn btn-danger">Rechazar</button>
            <input type="hidden" name="cookie" value="false">
          </form>
        </div>
      </div>
    </div>
  <% } %>
  